.outer {
    background: rgb(76, 88, 127);
    padding: 3em 0;
  }
  .outer.red {
    background: rgb(123, 156, 210);
    height: 60px;
  }
  .inner {
    background: rgb(101, 157, 172);
    width: 500px;
    margin: 0 auto;
    color: #fff
  }
  .inner p {
    border-bottom: 2px solid blue;
  }